.footer-cont {
    max-width: 100%;
    background-image:
    linear-gradient(
      to bottom right, 
      #01991d, #003d0c
    );
    border-radius: 10px;
    padding: 2em;
    text-align: right;
    color: #ffffff;
}