.header-container {
    background-image:
    linear-gradient(
      to bottom right, 
      #01991d, #003d0c
    );
    border-radius: 10px;
    max-width: 100%;
    padding: 2em;
    align-items: center;
    justify-content: center;
    /* background-image: url('../Images/bamboothree.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 30%; */
}
.headline {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    margin-top: 1em;
}

.hero-image {
    max-width: 100%;
}

#header-row {
    margin: 0 175px;
}
#header-text {
    text-align: right;
    color: #ffffff;
    animation-duration: 5s;
    animation-name: moveInRight;
}

@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem)
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
