.header-container {
    background-color: #B3ECFD;
    max-width: 100%;
    padding: 2em;
}
.headline {
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
}

.hero-image {
    background-color: aqua;
}